/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lobster', cursive;
*/
body { 
    max-width: 1170px;
    margin: 0 auto;
    color: #828181;
    font-size: 16px;
    line-height: 18px;
}
ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}
.header {
    font-family: 'Open Sans', sans-serif;
    height: 660px;
    background-image: url(img/header.png);
    background-position: bottom;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 12px;
}
.header__top {
    padding: 0 30px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between
}
.header__list {
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.header__item:hover {
    color: #2b9b2b;
}
.js-active {
    width: 100%;
    border-top: 5px solid #53d153;
}
.header__logo {
   font-family: 'Lobster', cursive;
    font-size: 24px;
    margin-right: 180px;
}
.header__search {
    width: 178px;
    border-radius: 30px;
    font-family: inherit;
    font-size: inherit;
    background-color: rgba(255,255,255,.9);
    padding: 0 15px;
    padding-right: 25px;
    outline: 0;
    border: 0;
    cursor: pointer;
    
    
}
.header__search:hover,
.header__search:focus {
    background-color: white;
}
.search__wrapper {
   position: relative;
}
.search__wrapper::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 14px;
    background-image: url("img/icons/search.png");
    background-position: center;
    top: 5px;
    right: 10px;
}
.header-middle {
    width: 100%;
    height: 135px;
}
.header__slogan {
    width: 730px;
    display: block;
    font-size: 55px;
    line-height: 65px;
    margin: 0 auto;
    text-align: center;
}
.header__btn {
    display: block;
    width: 210px;
    box-sizing: border-box;
    background-color: #53d153;
    border-radius: 30px;
    font-size: 22px;
    padding: 15px 25px;
    margin: 0 auto;
}
.header__btn:hover {
    background-color: #2b9b2b;
}
.header__btn:active {
    color: #207b20;
}
.header__bottom {
    width: 120px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.7);
    color: black;
    border-radius: 30px;
    margin: 0 auto;
    padding: 5px 8px;
    padding-left: 10px;
}
.header__bottom:hover {
    background-color: white;
}

.header__arrow {
    display: inline-block;
    width: 10px;
    height: 1px;
    background-color: black;
    vertical-align: middle;
    position: relative;
    margin-left: 5px;
    transform: rotate(90deg);
}
.header__arrow:hover {
    background-color: inherit; 
    
}
.header__arrow::before,
.header__arrow::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 1px;
    background-color: black;
    border-radius: 3px;
}
.header__arrow::before {
    top: -2px;
    right: 0px;
    transform: rotate(45deg);
}
.header__arrow::after {
    top: 2px;
    right: 0px;
    transform: rotate(-45deg);
}

/*--------------MAIN--------------------*/
.section-title {
    width: 600px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.section-title__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
}

.section-title__title:after {
    position: absolute;
    content: "";
    width: 43px;
    height: 2px;
    background-color: #828181;
    bottom: -11px;
    right: 279px;
}
.section-title__title--green {
    color: #207b20;
}
.section-title__title--green:after {
    position: absolute;
    content: "";
    width: 43px;
    height: 2px;
    background-color: #207b20;
    bottom: -11px;
    right: 279px;
}
.section-title__text {
    font-size: 15px;
    color: #b7b3b3;
}
.section-title__text--green {
    color: #2b9b2b;
}
.about-us {
    padding-top: 40px;
    padding-bottom: 73px;
}
.about-us__list {
    display: flex;
    justify-content: space-around;
}
.about-us__item {
    width: 285px;
    height: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    
    background-repeat: no-repeat;
    background-position: center 52px;
}
.about-us__item:before {
    position: absolute;
    content: "";
    width: 142px;
    height: 142px;
    background-color: #e0f3e0;
    border-radius: 30px;
    top: 20px;
    left: 70px;
    z-index: -1;
}
.about-us__item:nth-child(1) {
    background-image: url(img/icons/about-us-camera.svg); 
}
.about-us__item:nth-child(2) {
    background-image: url(img/icons/about-us-2.svg); 
}
.about-us__item:nth-child(3) {
    background-image: url(img/icons/about-us-3.svg); 
}
.about-us__title {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}
.about-us__text {
   font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.about-us__btn {
    width: 120px;
    box-sizing: border-box;
    background-color: #53d153;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-radius: 30px;
    padding: 8px;
    text-align: center;
    margin: 0 auto;
}
.about-us__btn:hover {
    background-color: #2b9b2b;
}
.about-us__btn:active {
    color: #207b20;
}
.works {
    background-color: #53d153;
    padding-top: 40px;
    padding-bottom: 53px;
}
.works__table {
    
    width: 280px;
    font-family: 'Open Sans', sans-serif;
    color: #2b9b2b;
    border: 2px solid #207b20;
    border-radius: 30px;
   background-color: #2b9b2b;
   border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 58px;
    overflow: hidden;
}
.works__td {
    border: 1px solid #2b9b2b;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
     background-color: white;
}
.works__td:hover {
    background-color: #2b9b2b;
    color: white;
}
.works__td--active {
    background-color: #2b9b2b;
    color: white;
}
.works__img {
    width: 920px;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    }
.work__crop {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 3px;

}  
.work__crop img {
  //  margin: -75px 0 0 -100px;
}
.work__crop:nth-child(5n) {
    margin-right: 0;
   
}
.works__btn {
    display: block;
    width: 185px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
   background-color: #2b9b2b;
    border-radius: 30px;
    padding: 10px;
    padding-left: 15px;
    margin: 0 auto;
    margin-top: 27px; 
}
.works__btn:hover {
    background-color: #207b20;
}
.works__arrow {
    display: inline-block;
    width: 13px;
    height: 2px;
    background-color: #ffffff;
    vertical-align: middle;
    position: relative;
   margin-left: 10px;
}
.works__arrow:hover {
    background-color: inherit; 
    
}
.works__arrow::before,
.works__arrow::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 3px;
}
.works__arrow::before {
    top: -2px;
    right: 0px;
    transform: rotate(45deg);
}
.works__arrow::after {
    top: 2px;
    right: 0px;
    transform: rotate(-45deg);
}

.feedbacks {
    padding-top: 40px;
    padding-bottom: 60px;
}

.slider__item {
    outline: 1px solid red;
    display: none;
    width: 500px;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    margin: 0 auto;
    
   /* position: relative;*/
}
/*.slider__item:before,
.slider__item:after {
    position: absolute;
    content: "";
    width: 14px;
    height: 22px;
    top: 20px;
     outline: 1px solid red;
}
.slider__item:before {
    left: -110px;
}
.slider__item:after {
    right: -110px;
}*/
.slider__item:nth-of-type(1) {
    display: block;
}
.slider__text {
    text-align: center;
    text-indent: 30px;
}
.slider__author {
    padding-left: 230px;
}
.slider__job {
    display: block;
    color: #cccccc;
    font-weight: 700;
    padding-left: 230px;
}
.slider__arrow {
    display: block;
    width: 14px;
    height: 22px;
     outline: 1px solid red;
}
.clients {
    background-color: #f2f1f1;
    padding-top: 35px;
    padding-bottom: 62px;
}
.clients__wrapper {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 0 110px;
}
.clients__item {
    margin-right: 100px;
    margin-bottom: 40px;
}
.clients__item:nth-child(4n) {
    margin-right: 0;
}
.clients__btn {
    display: block;
    width: 185px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #a59d9d;
    background-color: #dddcdc;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
  padding-left: 15px;
    margin: 0 auto;
}
.clients__btn:hover {
    background-color: #b7b3b3;
}
.clients__arrow {
    display: inline-block;
    width: 13px;
    height: 2px;
    background-color: #a59d9d;
    vertical-align: middle;
    position: relative;
   margin-left: 6px;
}
.clients__arrow:hover {
    background-color: inherit; 
    
}
.clients__arrow::before,
.clients__arrow::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 2px;
    background-color: #a59d9d;
    border-radius: 3px;
}
.clients__arrow::before {
    top: -2px;
    right: 0px;
    transform: rotate(45deg);
}
.clients__arrow::after {
    top: 2px;
    right: 0px;
    transform: rotate(-45deg);
}
.team {
    padding-top: 30px;
    background-color: #53d153;
}
.team__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team__item {
    height: 277px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    align-items: center;
    justify-content: space-between;
    color: white;
     font-family: 'Open Sans', sans-serif;
    margin-bottom: 63px;

    position: relative;
}
.team__item::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 77px;
    background-color: #1f7b1f;
    top: 135px;
    
}
.team__item:nth-child(5n) {
    margin-right: 0;
}
.team__crop {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
      background-color: white;
}
.team__img {
    transform: scale(.8);
    
  
}
.team__member {
    text-align: center;
}
.social {
    width: 84px;
    height: 28px;
    background-color: rgba(255,255,255,.7);
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.social__item {
    margin-right: 7px;
}
.social__item:last-child {
    margin-right: 0;
}
.social__item--ball {
    fill: #e8518b;
}
.social__item--be {
    fill: #0061ff;
}
.social__item--twitter {
    fill: #00abed;
}
.social__item--fb {
    fill: #1d52aa;
}
.team__join {
    background-color: #3eba3e;
    padding: 25px 0;
}
.team__btn {
    display: block;
    width: 175px;
    margin: 0 auto;
    border-radius: 30px;
    text-align: center;
    background-color: #53d153;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    box-shadow: 0 5px 7px rgba(0,0,0,.1);
}
.team__btn:hover {
    background-color: #207b20;
}

/*-----------------------FOOTER---------------*/

.footer__top {
    background-color: #333333;
    padding-left: 15px;
    padding-right: 15px;
}
.footer__wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.footer__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.footer__title::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #dddddd;
    bottom: -5px;
    left: 152px;
    
}
.footer__item {
    width: 325px;
}
.footer__text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
   /* padding: 15px;*/
    text-indent: 30px;
    margin-bottom: 25px;
}
.posts {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.posts__img {
    width: 53px;
    height: 53px;
    border-radius: 3px;
    float: left;
    margin-right: 7px;
    margin-bottom: 12px;
}

.posts__text {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    margin-top: 5px;
}
.posts__tag {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 7px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-top: 4px;
}
.posts__tag--magazine {
    background-color: #53d153;
}
.posts__tag--ui {
    background-color: #ffba00;
}
.posts__tag--photography {
    background-color: #089cea;
}
.posts__tag--book {
    background-color: #f34c03;
}
.contacts__text {
   font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 220px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
}
.contacts__input {
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background-color: #444444;
    color: #777777;
     font-family: 'Open Sans', sans-serif;
    padding: 0 13px;
    margin-bottom: 2px;
}
.contacts__input:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.contacts__textarea {
    padding: 0;
    width: 100%;
    height: 130px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background-color: #444444;
    color: #777777;
     font-family: 'Open Sans', sans-serif;
    padding: 0 13px;
}
.contacts__btn {
    width: 100%;
    outline: 0;
    background-color: #2b9b2b;
    color: white;
    border: 0;
    padding: 10px;
    text-transform: uppercase;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -2px;
    margin-bottom: 32px;
}
.contacts__btn:hover {
    background-color: #207b20;
}

.footer__bottom {
   
}
.media {
    background-color: #212121;
    font-family: 'Montserrat', sans-serif;
    color: #101010;
    text-transform: uppercase;
    padding-top: 20px;
}
.media__text {
    display: block;
    width: 150px;
   margin: 0 auto;
     text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.media__text::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #101010;
    bottom: -5px;
    left: 60px;
}
.media__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}

.copyrights {
    background-color: #111111;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 9px;
}
.copyrights__text {
    margin: 0;
}
.copyrights__heart {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    transform: rotate(-45deg);
    position: relative;
    margin: 0 4px;
}
.copyrights__heart::before,
.copyrights__heart::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: inherit;
    border-radius: 50%;
    
}
.copyrights__heart::before {
    left: 0px;
    top: -6px;
}
.copyrights__heart::after {
    left: 6px;
    
}